* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}
h2 {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    font-size: 80px;
    color: #000000;
    font-weight: 800;
    background-color: #032949;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) 2px 2.5px 2.5px;
    transition: .5s;
}
#name:after,
h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 55%; /* Width of the border bottom. */
    padding-top: 13px; /* This creates some space between the element and the border. */
    margin-bottom: 60px;
    border-bottom: 3px solid #032949;
    transition: .5s;
}
.engraved {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow:rgba(0, 0, 0, 0.247) 7px 3.5px 1px;
    transition: .5s;
}
p {color: #fff;}
h3 {
    font-size: 30px;
    color: #032949;
}
a {text-decoration: none;}
#about,
#project,
#contact {
    padding-top: 80px;
}
#about {padding-bottom: 200px;}
section {width: 100%;}
/*test*/

/*Loader*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gone {
    animation: gone 2s forwards;
}
@keyframes gone {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/*Navigation*/
#mainnav {
    position: fixed;
    z-index: 1;
}
#mainnav li {
    margin: 30px 0;
    left: -550px;
    position: relative;
    display: none;
}
#mainnav a {
    color: rgb(0, 97, 161);   
    text-decoration: none;
    font-size: 1.4em;
} 
ul li {
    list-style: none;
    margin-top: -50px;             
}
ul li:hover {text-decoration: underline;}
.active {text-decoration: underline;}
.hamb {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2.5em;
    z-index: 1;
}
.hamb a {
    color: rgb(0, 97, 161);
    text-decoration: none;
}
#bubble {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    display: none;
    z-index: 1;
    background: rgba(0, 0, 0, .2);
}
.gap{
    color: white;
    margin-top: 100px;
    width: 200px;
}


/*index.html*/
/*Hero image*/
.main-img {
    background-color: rgba(255, 255, 255, 0);
}
.template-text {
    font-size: 25px;
    line-height: 5px;
    background: url(./img/2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*About me*/
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-card {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #bdf8f0, rgb(0, 97, 161));
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #fff);
}
.about-card img {
    filter: grayscale(100%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: .5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #fff);
}
.about-card:hover img {
    filter: grayscale(0);
    left: 80%;
    height: 500px;
}
.about-card .about-content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.about-card:hover .about-content {
    opacity: 1;
    visibility: visible;
    left: 0%;
}
.about-card .about-content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}
.about-card .about-content p {
    color: #fff;
}
.about-card .about-content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 30px;
    text-decoration: none;
    transition: .5s;
}
.about-card .about-content a:hover {
    padding: 15px 25px;
    font-size: 18px;
}

/*Skill sets*/
.process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}
.container-card .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.2),
                inset -5px -5px 15px rgba(255, 255, 255, .1),
                5px 5px 15px rgba(0,0,0,.3),
                -5px -5px 15px rgba(255, 255, 255, .1);
    border-radius: 15px;
    margin: 30px;
}
.container-card .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container-card .card .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    transform: skewX(-45deg);
    pointer-events: none;
}

.container-card .card .box:hover {
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,.5);
}
.container-card .card .box .content {
    padding: 20px;
    text-align: center;
}
.container-card .card .box .content .plan {
    position: absolute;
    top: -50px;
    right: 20px;
    font-size: 8em;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.05);
}
.container-card .card .box .content .plans {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
}
.container-card .card .box .content .process-text {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
}
.content .skill ol {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
ol img {
    width: 40px;
    height: 40px;
}
ol p {font-size: 13px;}
ol li {
    margin: 0 15px;
}

/*Projects*/
.projects {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.container img {
    width: 100px;
}
.container .project-box {
    background: rgb(87, 88, 88);
    padding: 20px;
    display: grid;
    font-size: 16px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: .5s;
}
.container .project-box:hover {
    background: rgb(0, 97, 161);
}
.container .project-box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}
.container .project-box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}
.container .project-box:nth-child(2) {
    grid-column: span 1;
    grid-row: span 3;
}
.container .project-box:nth-child(3) {
    grid-column: span 1;
    grid-row: span 3;
}
.container .project-box:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
}
.container .project-box:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
}



/*Contact form*/
.contact,
#wrap, #form-wrap,
h2, form,
fieldset, input,
textarea, footer,
.hello {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
.contact {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hello {
    color: rgb(156, 156, 156);
    font-size: 24px;
}
#wrap {
    width: 530px;
    margin: 20px auto 0;
    height: 1000px;
}
#form-wrap {
    overflow: hidden;
    height: 447px;
    position: relative;
    top: 0px;
    transition: all 1s ease-in-out .3s;
}
#form-wrap:before {
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    background: url(./img/contact/before.png);
    width: 530px;
    height: 317px;
}
#form-wrap:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    background: url(./img/contact/after.png);
    width: 530px;
    height: 259px;
}
#form-wrap.hide:after,
#form-wrap.hide:before {
    display: none;
}
#form-wrap:hover {
    height: 777px;
    top: -200px;
}
form {
    background: url(./img/contact/letter_bg.png);
    position: relative;
    top: 200px;
    overflow: hidden;
    height: 200px;
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid white;
    border-right: 3px;
    transition: all 1s ease-in-out .3s;
}
#form-wrap:hover form {
    height: 530px;
}
label {
    margin: 11px 20px 0 0;
    font-size: 15px;
    color: gray;
    text-transform: uppercase;
}
input[type=text], textarea {
    font: 14px normal uppercase, arial, serif;
    color: dimgray;
    background: none;
    width: 380px;
    height: 37px;
    padding: 0px 10px;
    margin: 0 0 10px 0;
    border: 1px solid #f8f5f1;
    border-radius: 5px;
}
textarea {
    height: 80px;
    padding-top: 14px;
}
textarea:focus,
input[type=text]:focus {
    background: white;
    filter: drop-shadow(#444444);
}
#form-wrap input[type=submit] {
    position: relative;
    font-size: 24px;
    color: gray;
    width: 100%;
    text-align: center;
    opacity: 0;
    background: none;
    cursor: pointer;
    border-radius: 3px;
    transition: opacity 0.7s ease-in-out 0s;
}
#form-wrap:hover input[type=submit] {
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 1.3s;
}

/*Footer*/
footer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
footer a {text-decoration: none;}
footer #name {
    font-size: 32px;
}
footer .end {font-size: 16px;}
footer .end:after {border-bottom: none;}
.end {
    position: relative;
    align-items: center;
    justify-content: center;
}
.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
footer .icons {
    display: flex;
    height: 55px;
    width: 55px;
    margin: 0 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}
.icons img {
    width: 35px;
    height: 35px;
    filter: grayscale(100%);
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}
.icons:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, .2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, .01);
    transform: translateY(2px);
}
.icons:hover img {
    filter: grayscale(0);
    transform: scale(0.90);
}



/*Responsive cheat sheet*/
/*Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}
Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}
Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}
Large devices (laptops/desktops, 992px and up)
@media only screen and(min-width: 992px) {...}
Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}

/*Responsive main elements*/
@media (max-width: 991px) {
    h2 {transform: scale(0.90);}
     footer .end {font-size: 16px;}
}
@media (max-width: 868px) {
    h2 {transform: scale(0.80);}
     footer .end {font-size: 16px;}
}
@media (max-width: 768px) {
    h2 {transform: scale(0.70);}
     footer .end {font-size: 16px;}
}
@media (max-width: 668px) {
    h2 {
        transform: scale(0.60);
        left: 10px;
    }
     footer .end {font-size: 16px;}
}
@media (max-width: 568px) {
    h2 {
        transform: scale(0.50);
        left: 10px;
    }
     footer .end {font-size: 16px;}
}


/*Responsive hero*/
@media ()


/*Responsive about me card*/
@media (max-width: 991px) {
    .about-card {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: .5s;
        align-self: flex-start;
    }
    .about-card:hover {
        height: 600px;
    }
    .about-card:hover img {
        left: 50%;
        height: 350px;
    }
    .about-card .about-content {
        width: 100%;
        left: 0;
        padding: 40px;
        opacity: 0;
    }
}
@media (max-width: 420px) {
    .about-card .about-content {
        padding: 30px;
    }
    .about-card:hover img {
        height: 300px;
    }
}

/*Responsive project section*/
@media (max-width: 991px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
    .container .project-box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}