body {
    padding: 0;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(3, 3, 3);
}
nav {
    background: #6ba5c7;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
}
ul {
    background: #6ba5c7;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 15px 0;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
}
.main-nav {
    list-style: none;
    text-align: center;
    display: block;
    border-right: 2px solid rgba(2, 2, 2, 0.2);
}
.main-nav:last-child {
    border-right: none;
}
.main-nav a {
    text-decoration: none;
    padding: 0 50px;
    display: block;
}





.main-img {
    background-color: rgba(255, 255, 255, 0);
}
.template-text {
    font-size: 8px;
    line-height: 8px;
    background: url(./img/2.JPG);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}