body {
    padding: 0;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(245, 245, 245);
}

.main-img {
    background-color: rgba(255, 255, 255, 0);
}
.template-text {
    font-size: 8px;
    line-height: 8px;
    background: url(./img/2.JPG);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}